@font-face {
    font-family: 'Archivo Narrow';
    src: url('archivonarrow-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Archivo Narrow';
    src: url('archivonarrow-regular.woff') format('woff');
    font-weight: 400; 
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Archivo Narrow';
    src: url('archivonarrow-italic.woff') format('woff');
    font-weight: 400; 
    font-style: italic; 
    font-display: swap;
}

@font-face {
    font-family: 'Archivo Narrow';
    src: url('archivonarrow-semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'Archivo Narrow';
    src: url('archivonarrow-semibolditalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap; 
}
